body{
	background-color: #fffjquery.js;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-family: "Ubuntu";
}

i{
	padding-left:15px;
	padding-right:15px;
	color:gray;
	text-align:center;
}

i:hover{
	position:relative;
	top:-3px;
	color: #000;
}


.title {
	text-align: center;
	font-family: "Ubuntu";
}



a.icons{
	text-decoration:none;
	outline:0
}

a.icons:visited {
	text-decoration:none;
	color : gray;
}

div.content{
	width:600px;
	margin:0 auto;
	text-align:justify;
}

div.content p{
	font-size:14px;
	text-align: justify;
}

div.icons-jumbotron{
	width: 600px;
	margin: 0 auto;
}

.centered{
    float: none;
    margin: 0 auto;
}


