---
layout: default
---

{% comment %}
  Displays a list of posts broken down by year.
{% endcomment %}

{% for post in site.posts %}
  {% capture currentyear %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% if currentyear != year %}
    {% unless forloop.first %}

    {% endunless %}
    <div class="container">
        <div class="row voffset5">
        <h1>{{ currentyear }}</h1>
        </div>
        <div class="row voffset3">  
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        </div>
    </div>

    {% capture year %}{{ currentyear }}{% endcapture %}
  {% endif %}
  
{% endfor %}

