<nav class="footer footer-transparent fixed">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="{{site.url}}">
                                About me
                            </a>
                </li>
                <li>
                    <a href="/blog">
                                Blog
                            </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            ©
            <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
            <script>
                document.write(new Date().getFullYear())
            </script>, Designed by
            <a href="{{site.baseurl}}" target="_blank">Me</a> using
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
        </div>
    </div>
</nav>