<div class="container">
    <div class="navbar-translate">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#example-navbar-primary"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-bar bar1"></span>
                                        <span class="navbar-toggler-bar bar2"></span>
                                        <span class="navbar-toggler-bar bar3"></span>
                                    </button>
        <a class="navbar-brand" href="/">{{site.title}}</a>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="example-navbar-primary">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="/blog">
                                                <i class="fa fa-book"></i>
                                                <p>Blog</p>
                                            </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{site.github}}" target="_blank">
                                                <i class="fa fa-github-alt"></i>
                                                <p>Github</p>
                                            </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{site.linkedin}}" target="_blank">
                                                <i class="fa fa-linkedin"></i>
                                                <p>Linkedin</p>
                                            </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#pablo" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-link"></i>
                                                <p>My Links</p>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-header">Projects</a>
                            <a class="dropdown-item" href="/assets/projects/LSC" target="_blank">
                        <i class="now-ui-icons education_atom" style="margin-right:10px"></i>
                        <p>LSC</p>
                    </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-header">CV/Resume</a>
                            
                            <a class="dropdown-item" href="/assets/files/CV_Renato_Fialho.pdf" target="_blank">
                        <i class="fa fa-file-pdf-o" style="margin-right:10px"></i> 
                        <p>CV</p> 
                    </a>
                            <a class="dropdown-item" href="/assets/files/Resume_Renato_Fialho.pdf" target="_blank">
                        <i class="fa fa-file-pdf-o" style="margin-right:10px"></i> 
                        <p>Resume</p> 
                    </a>

                        </div>
            </li>
        </ul>
    </div>
</div>