---
layout: default
---

<div class="container-fluid">
  <div class="row voffset5">
    <div class="col-md-8 offset-md-2 text-center">
      <h2 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ page.title }}</a></h2>
    </div>
    <div class="col-md-8 offset-md-2 text-center">
      <div class="row">
        <div class="col text-left">
          <span class="badge badge-primary">POSTED - {{page.date | date_to_string }}</span>
        </div>
        <div class="col text-right">
          <span class="badge badge-primary">LAST UPDATE - {{page.modified | date_to_string}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row voffset5">
    <div class="col-md-8 offset-md-2 text-justify">
      <p>{{ page.content }}</p>
    </div>
  </div>
  
  <div class="row voffset5">  
    <div class="col-md-4 offset-md-4 text-center">
      {% if page.next.url %}
      <a href="{{post.next.url}}" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="" data-original-title="Previous">
                    <i class="fa fa-angle-double-left"></i>
      </a> 
      {% else %}
      <a href="#button" class="btn btn-primary btn-round btn-lg btn-icon disabled" rel="tooltip" title="" data-original-title="Previous">
                    <i class="fa fa-angle-double-left"></i>
      </a> 
      {% endif %} 
      {% if page.previous.url %}
      <a href="{{post.previous.url}}" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="" data-original-title="Next">
                    <i class="fa fa-angle-double-right"></i>
      </a> 
      {% else %}
      <a href="#button" class="btn btn-primary btn-round btn-lg btn-icon disabled" rel="tooltip" title="" data-original-title="Next">
                    <i class="fa fa-angle-double-right"></i>
      </a>
      {% endif %}
    </div>
  </div>

  <div class="row voffset5">
    <div class="col-md-8 offset-md-2 text-center">
      <h3 class="title text-center">Related Posts</h3>
      {% include card.html %}
    </div>
  </div>
</div>